.btn.btn-cta {
  background-color: #ffe92e;
  color: black;
  border-radius: 2rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
}
.btn.btn-cta:hover {
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background-color: white;
  color: black;
  border-radius: 2rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.m-auto {
  margin: 0 auto;
}

.m-1 {
  margin: 0.7rem;
}

.m-2 {
  margin: 1.4rem;
}

.m-3 {
  margin: 2.1rem;
}

.m-4 {
  margin: 2.8rem;
}

.m-5 {
  margin: 3.5rem;
}

.m-6 {
  margin: 4.2rem;
}

.m-7 {
  margin: 4.9rem;
}

.m-8 {
  margin: 5.6rem;
}

.m-9 {
  margin: 6.3rem;
}

.py-1 {
  padding: 0.7rem 0;
}

.py-2 {
  padding: 1.4rem 0;
}

.py-3 {
  padding: 2.1rem 0;
}

.py-4 {
  padding: 2.8rem 0;
}

.py-5 {
  padding: 3.5rem 0;
}

.py-6 {
  padding: 4.2rem 0;
}

.py-7 {
  padding: 4.9rem 0;
}

.py-8 {
  padding: 5.6rem 0;
}

.py-9 {
  padding: 6.3rem 0;
}

.p-1 {
  padding: 0.7rem;
}

.p-2 {
  padding: 1.4rem;
}

.p-3 {
  padding: 2.1rem;
}

.p-4 {
  padding: 2.8rem;
}

.p-5 {
  padding: 3.5rem;
}

.p-6 {
  padding: 4.2rem;
}

.p-7 {
  padding: 4.9rem;
}

.p-8 {
  padding: 5.6rem;
}

.p-9 {
  padding: 6.3rem;
}

.w-1 {
  padding: 25%;
}

.w-2 {
  padding: 50%;
}

.w-3 {
  padding: 75%;
}

#bandeja {
  background-image: url(assets/food2.webp);
}

#cevinacho {
  background-image: url(assets/food1.webp);
}

#alitas {
  background-image: url(assets/food3.webp);
}

#cevimixto {
  background-image: url(assets/food5.webp);
}

#ceviperuano {
  background-image: url(assets/food6.webp);
}

#aguachile {
  background-image: url(assets/food7.webp);
}

#mojarra {
  background-image: url(assets/food8.webp);
}

#caldomariscos {
  background-image: url(assets/food9.webp);
}

#shuko {
  background-image: url(assets/food10.webp);
}

#puyazo {
  background-image: url(assets/food11.webp);
}

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

.modal-close {
  color: black;
  background-color: #ffe92e;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  padding: 0rem 0.8rem;
  font-size: 24pt;
  border-radius: 100%;
}
.modal-close:hover {
  color: white;
  padding: 0rem 0.8rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url(assets/bg.jpg);
  font-family: "Open Sans", sans-serif;
  color: #ffe92e;
  background-repeat: repeat repeat;
  background-size: 50%;
  padding: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 1vw;
}

h2 {
  font-weight: bolder;
  font-size: 7vw;
}

h3 {
  font-weight: lighter;
  font-size: 2vw;
}

h2, h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.281);
}

@media (min-width: 100px) and (max-width: 800px) {
  body {
    background-size: 150%;
  }

  p {
    font-size: 3vw;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -3rem;
}
header nav #logo {
  position: relative;
  top: 20px;
  margin-top: -20px;
  width: 20%;
}

@media (min-width: 100px) and (max-width: 400px) {
  nav {
    flex-direction: column;
  }

  ul {
    flex-direction: column;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
ul li a {
  background-color: white;
  color: #585858;
  border-radius: 2rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
}
ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 2rem;
  padding: 1.2rem 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

#landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#landingtextcontainer {
  margin-top: 2rem;
  text-align: end;
}

@media (min-width: 100px) and (max-width: 400px) {
  #landing {
    grid-template-columns: 1fr;
  }
}
.prices .prev {
  font-weight: bolder;
  color: #e9e9e9;
  text-decoration: line-through;
}
.prices .now {
  font-weight: bolder;
}

.btn-ordenar {
  display: flex;
}

#visitanos {
  margin: 3rem 0;
  padding: 1rem 2rem;
  min-height: 28rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  backdrop-filter: invert(100%);
  border: 4px solid #ffe92e;
  border-radius: 3rem;
}
#visitanos h2, #visitanos h3, #visitanos p {
  color: black;
}

iframe {
  width: 90%;
  height: 28rem;
  border: 0px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.37);
}

.footerVisitanosMobile {
  display: none;
}

@media (min-width: 100px) and (max-width: 400px) {
  #visitanos {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    border-radius: 1rem;
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  .footerVisitanosMobile {
    display: block;
    padding: 2rem;
    grid-column: 1/span 2;
  }
}
@media (min-width: 400px) and (max-width: 1200px) {
  #visitanos {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  iframe {
    height: 300px;
    width: 100%;
  }

  .footerVisitanosMobile {
    display: block;
    padding: 2rem;
    grid-column: 1/span 2;
  }
}
.menugrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding: 3rem;
}

.foodcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid white;
  backdrop-filter: blur(4px);
  border-radius: 0.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 400px;
}
.foodcontainer p {
  background-color: #ffe92e;
  padding: 0.4rem;
  border-radius: 0 0.4rem 0 1rem;
  color: black;
  align-self: flex-end;
}

.food-double {
  grid-column: 1/span 2;
}

@media (min-width: 100px) and (max-width: 400px) {
  .menugrid {
    grid-template-columns: unset;
    padding: 0;
  }

  .food-double {
    grid-column: 1;
  }

  .foodcontainer {
    height: 200px;
  }
  .foodcontainer p {
    font-size: 5vw;
  }
}
@media (min-width: 400px) and (max-width: 1200px) {
  .menugrid {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .food-double {
    grid-column: 1;
  }

  .foodcontainer {
    height: 200px;
  }
  .foodcontainer p {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=main.css.map */
