#bandeja{
    background-image: url(assets/food2.webp);
}

#cevinacho{
    background-image: url(assets/food1.webp);
    
}

#alitas{
    background-image: url(assets/food3.webp);
}

#cevimixto{
    background-image: url(assets/food5.webp);
}

#ceviperuano{
    background-image: url(assets/food6.webp);
}

#aguachile{
    background-image: url(assets/food7.webp);
}

#mojarra{
    background-image: url(assets/food8.webp);
}

#caldomariscos{
    background-image: url(assets/food9.webp);
}

#shuko{
    background-image: url(assets/food10.webp);
}

#puyazo{
    background-image: url(assets/food11.webp);
}