@import 'config';
@import 'button';
@import 'utils';
@import 'food';
@import 'modal';

@function size($value){
    @return $value * $unit;
}

@mixin reset-pm{
    padding: 0;
    margin: 0;
}

*{
    @include reset-pm();
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body{
    background-image: url(assets/bg.jpg);
    font-family: 'Open Sans', sans-serif;
    color: $primary-color;
    background-repeat: repeat repeat;
    background-size: 50%;
    padding: 2rem;
}

img{
    max-width: 100%;
    height: auto;
}

a{
    color: $secondary-color;
    text-decoration: none;
}

p{
    font-size: size(2);
}

h2{
    font-weight: bolder;
    font-size: size(10);
}

h3{
    font-weight: lighter;
    font-size: size(3);
}

// HEADER
header {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -3rem;
        #logo{
            position: relative;
            top: 20px;
            margin-top: -20px;
            width: 20%;
        }
    }
    
}

@media (max-width: 400px) {    
    nav {
        flex-direction: column;
    }
}

ul {
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 1rem;
    li {
        a {
            @include btn($terciary-color,$font-color,'true');

            &:hover{
                @include btn($secondary-color,$terciary-color, 'false');
                box-shadow: $box-shadow;
            }
        }
    }
}

// MAIN
.prices{
    .prev{
        font-size: size(4);
        font-weight: bolder;
        color: rgb(233, 233, 233);
        text-decoration: line-through;
    }
    .now{
        font-size: size(12);
        font-weight: bolder;
    }
}

.btn-ordenar{
    display: flex;
}

// SECTION VISITANOS
#visitanos{    
    padding: 3rem 0;
    min-height: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

iframe {
    width: 90%;
    height: 28rem;
    border: 0px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.37);
}

    // import modal file _modal.scss

.footerVisitanosMobile{
    padding: 2rem;
    grid-column: 1/ span 2;
}

// SECTION MENU
#menu {
}

.menugrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: 3rem;
}
@media (max-width: 400px) {    
    .menugrid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {    
    .menugrid {
        grid-template-columns: 1fr 1fr;
    }
}



.foodcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(4px);
    //backdrop-filter: invert(75%);
    border-radius: 0.4rem;

    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-size: contain;
    height: 400px;
    
}
.food-double{
    grid-column: 1/ span 2;
}
    //import food file _food.scss
