@import 'config';
@import 'button';
@import 'utils';

@function size($value){
    @return $value * $unit;
}

@mixin reset-pm{
    padding: 0;
    margin: 0;
}

*{
    @include reset-pm();
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body{
    background-color: #d3d3d3;
    // background-image: url(/public/assets/bg.png);
    font-family: 'Open Sans', sans-serif;
    color: $primary-color;
}

img{
    max-width: 94%;
    height: auto;
}

header {
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -3rem;
        #logo{
            position: relative;
            top: 20px;
            margin-top: -20px;
            width: 20%;
        }
    }
}

.btn-ordenar{
    display: flex;
}

a{
    color: $secondary-color;
    text-decoration: none;
}

p{
    font-size: size(2);
}

h2{
    font-weight: bolder;
    font-size: size(10);
}

h3{
    font-weight: lighter;
    font-size: size(3);
}

.container{
    background-color: white;
    padding: 2rem;
    box-shadow: $box-shadow;
    background-image: url(assets/bg.jpg);
    background-repeat: repeat repeat;
    background-size: 75%;
}

ul {
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 20px;
    li {
        a {
            @include btn($terciary-color,$font-color,'true');

            &:hover{
                @include btn($secondary-color,$terciary-color, 'false');
                box-shadow: $box-shadow;
            }
        }
    }
}

.prices{
    .prev{
        font-size: size(4);
        font-weight: bolder;
        color: rgb(233, 233, 233);
        text-decoration: line-through;
    }
    .now{
        font-size: size(12);
        font-weight: bolder;
    }
}

.footlanding{
    z-index: 2;
}

.botella{
    position:absolute; 
    z-index:0;
    right: 4rem;
    width: 11%;
}

#visitanos{    
    padding: 3rem 0;
    min-height: 28rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

iframe {
    width: 90%;
    height: 28rem;
    border: 0px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.37);
}


.textoVisitanos {
    // background: white;
    // mix-blend-mode: difference;
    
}

.qr-waze{
    width: 25%;
}

.footerVisitanosMobile{
    padding: 2rem;
    grid-column: 1/ span 2;
}

#menu {
}

.menugrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.food{
    width: 85%;
    height: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.507);
}